<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="/asset/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="header">
        <img src="/asset/img/logo.png" alt="logo" style="width: 100%; height:50%;">
        <h1>Groupie Tracker</h1>
        <p>Track your favorite bands and artists</p>
        <div class="search_bar">
            <form action="/search" method="GET">
                <input type="text" name="search" placeholder="Search for a band or artist">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="filter_date">
            <form action="/filtre" method="GET">
                <label for="date-range">Sélectionnez une date de concert :</label>
                <input type="date" id="filtre" name="filtre" value="04-02-2024" min="01-01-1950" max="31-12-2025">            
                <input type="submit" value="Filtrer">
            </form>  
        </div>  
        <form action="/localisation" method="GET">
            <div class="filter-geo">
                <label for="filter-range">Chercher un lieu : </label>
                <input type="search" name="geo"  id="geo-search" placeholder="Search for a localisation ..." />
                <input type="submit" value="Filtrer">
            </div>
        </form>
    </div>

<div class="container">
{{range .}}
    <div class="rep">
        <img src="{{.Image}}" alt="{{.Name}}" style="max-width: 40%; max-height: 40%;">
        <h3>{{.Name}}</h3>
        <p>Members:</p>
        <ul>
            {{range .Members}}
                <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Creation Date: {{.CreationDate}}</p>
        <p>First Album: {{.FirstAlbum}}</p>
    </div>
{{else}}
    <p>No matching artists found.</p>
{{end}}
</div>
</body>
</html>
