* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.header img {
    max-width: 80%; /* Réduction de la largeur de l'image */
    height: auto;
}

.header h1 {
    margin-top: 10px;
    font-size: 2em;
}

.filtre {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Ajout pour que les suggestions restent dans le conteneur .filtre */
}

.filtre form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sug {
    position: relative;
    width: calc(50% - 10px);
}

.sug input[type="text"],
.geo input[type="search"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rep {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    max-width: 300px;
    text-align: center;
}

.rep img {
    max-width: 100%;
    height: auto;
}

.rep h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

.rep p {
    margin-top: 5px;
}

.filtre input[type="submit"] {
    margin-top: 10px; /* Espacement avec les boutons radio */
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff; /* Couleur du fond */
    color: #fff; /* Couleur du texte */
    border-radius: 5px;
    cursor: pointer;
}

/* Empêcher les barres de défilement des suggestions de sortir de la div .filtre */
#suggestions,
#suggestionsloc {
    position: absolute;
    z-index: 1;
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    width: calc(100% - 22px);
    max-height: 200px;
    overflow-y: auto;
    left: 0; /* Aligner avec le bord gauche de la div .filtre */
}
